@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: serif;
    box-sizing: border-box;
    background-size: cover;
    min-height: 40vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.body-div {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 230, 115, 0.158);
}

/* HEADER */
.header {
    background-size: cover;
    min-height: 40vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.header-title {
    font-size: 4rem;
}

.color-ovelay {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

@media (max-width: 768px) {
    .header {
        min-height: 30vh;
    }
}

/* END */

.container-search {
    min-height: 100vh;
}

/* SEARCH */
.form {
    position: relative;
    margin-top: 3rem;
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.form button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 50px;
    width: 110px;
    background-color: rgb(255, 162, 0) !important;
    border-color: rgb(255, 162, 0) !important;
}

.form button:hover {
    background-color: rgb(238, 110, 5) !important;
    border-color: rgb(238, 110, 5) !important;
}

.left-pan {
    padding-left: 7px;
}

.left-pan i {
    padding-left: 10px;
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

/* END */

/* TITLE */
.title-section {
    margin-top: 5rem;
    text-align: center;
}

/* END */

/* MEAL RESULT */
.meal-result {
    margin: 5rem 4rem;
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    align-items: center;
    margin: 20px;
}

.card-body {
    width: 100%;
    background-color: rgb(250, 213, 165);
}

.btn-dark {
    position: absolute;
    background-color: rgb(255, 162, 0) !important;
    border-color: rgb(255, 162, 0) !important;
}

.btn-dark:hover {
    background-color: rgb(238, 110, 5) !important;
    border-color: rgb(238, 110, 5) !important;
}